.content {
    position: relative;
    z-index: 1;
}

.content > .content-over {
    position: absolute;
    z-index: 2;
    display: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    opacity: 0.6;
}